<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="autoecoleEntities" connectionString="metadata=res://*/mdlAutoEcole.csdl|res://*/mdlAutoEcole.ssdl|res://*/mdlAutoEcole.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=autoecole&quot;"
      providerName="System.Data.EntityClient" />
    <add name="mdlAutoEcoleContainer" connectionString="metadata=res://*/mdlAutoEcole.csdl|res://*/mdlAutoEcole.ssdl|res://*/mdlAutoEcole.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=autoEcole;password=root;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="autoEcoleWFv2.Properties.Settings.autoEcoleConnectionString"
      connectionString="server=localhost;User Id=root;database=autoEcole;password=root;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>